parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$num of function bcpow expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#1 \$num of function bcsqrt expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#1 \$num1 of function bcadd expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#1 \$num1 of function bccomp expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 24
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#1 \$num1 of function bcmul expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 4
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#1 \$num1 of function bcsub expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#2 \$exponent of function bcpow expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#2 \$num2 of function bcadd expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#2 \$num2 of function bccomp expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#2 \$num2 of function bcmul expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php

		-
			message: '#^Parameter \#2 \$num2 of function bcsub expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Adapters/BCMathAdapter.php
